<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="m.e.m">
   		
	<insert id="insert">
		insert into user_ (id, name, age) values (#{id},#{name},#{age})
	</insert>
	<select id="loginpost" resultType="UserDTO">
  	select *from user_ where id = #{id} and name = #{pw}
  	</select>
  	<select id="login" resultType="UserDTO">
  	select *from user_ where id = #{id,jdbcType=VARCHAR} and name = #{pw,jdbcType=VARCHAR}
  	</select>













</mapper>